{% extends "base.html" %}
{% block content %}
<h1>Вход</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", type="email") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control", type="password") }}
    </div>
    {% if message %} <div class="alert alert-danger">{{ message }}</div> {% endif %}
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
